.calendar-table-padding {
  border-collapse: inherit;
}

footer .widget.widget_calendar {
  margin: 0;

  div#calendar_wrap {
    @include flex-it();

    width: 100%;

    caption {
      margin: 0 auto;
      font-weight: bold;
      background-color: $warning;
      color: $light;
    }

    table#wp-calendar {
      @extend .calendar-table-padding;

      background-color: $light;
      min-width: 100%;

      thead {
        background-color: $secondary;

        th {
          color: $light;
          text-align: center;
        }
      }

      tbody {
        tr {
          td {
            text-align: center;
            padding: 0 1.7px;
          }
        }
      }

      tfoot {
        background-color: $secondary;
      }
    }
  }

  a {
    background-color: $primary;
    padding: 2px;
    border-radius: 3px;

    &:hover {
      background-color: $dgreen;
    }
  }
}
