footer.footer .widget.widget_calendar {
  @include flex-it();

  background-color: transparent;
  color: $light;
  width: 40%;
  padding: 1em;

  .calendar_wrap {
    @include flex-it();

    width: 100%;

    table#wp-calendar {
      font-size: 1.5rem;

      caption {
        color: darken($light, 10%);
        height: 100%;
        width: 100%;
        padding: 0.1em;
        background-color: $warning;
        font-size: 1.7rem;
        letter-spacing: 3px;
        font-weight: bold;
        border-top-right-radius: $radius;
        border-top-left-radius: $radius;
      }

      thead tr th {
        color: rgba($light, 0.7);
        background-color: $secondary;
        padding: 0.351097em 1em 0.0735109em 1em;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
      }

      tfoot tr td,
      tbody tr td {
        padding: 0.09em 1em;
        color: $light;

        a {
          background-color: $light;
          color: $dark;
          padding: 3px;
          border-radius: 3px;

          &:hover {
            background-color: $primary;
            color: $light;
          }
        }

        td#prev a,
        td#next a {
          background-color: $primary;
          color: $light;
        }
      }
    }
  }
}

@media only screen and (max-width: $desktop) {
  footer.footer .widget.widget_calendar {
    width: 50%;

    .calendar_wrap {
      table#wp-calendar {
        font-size: 1.1rem;
      }
    }
  }
}

@media only screen and (max-width: $tablet) {
  footer.footer .widget.widget_calendar {
    width: 100%;

    .calendar_wrap {
      table#wp-calendar {
        font-size: 1.1rem;
      }
    }
  }
}
