footer .widget.widget_recent_entries {
  display: block;
  margin: 0;
  padding: 0;
  max-height: 100%;

  h3 {
    width: 100%;
    background-color: $warning !important;
  }

  ul {
    li {
      a {
        background-color: $light;
        color: $dark;
        display: block;
        margin: 1px 0;
        padding: 3px;

        &:hover {
          background-color: $green;
          color: $light;
        }
      }
    }
  }
}
