footer.footer .widget.widget_recent_comments {
  @include flex-it();

  background-color: $grey-lighter;
  flex-direction: column;
  width: 30%;

  h3 {
    @include flex-it();

    width: 100% !important;
    font-size: 1.7rem;
    background-color: $secondary;
    padding: 15px;
    color: $light;
  }

  ul {
    @include flex-it();

    height: 100%;
  }
}

@media only screen and (max-width: $desktop) {
  footer.footer .widget.widget_recent_comments {
    width: 50%;
    max-height: 100% !important;
  }
}

@media only screen and (max-width: $tablet) {
  footer.footer .widget.widget_recent_comments {
    max-width: 100%;
    background-color: $grey;
    max-height: 100% !important;
  }
}
