footer.footer .widget.widget_search {
  @include flex-it();

  background-color: darken($dark, 7%);
  width: 100%;
  padding: 0 !important;

  form.search-form {
    width: 99%;
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
      border: none;
    }

    label {
      display: flex;
      width: 100%;
    }

    input.search-field,
    label input[type=search] {
      font-size: 1.7rem !important;
      color: $light;
      width: 100%;
      background-color: transparent;
      border: none;
      padding: 0 0.97351em;
      z-index: 100;
      box-shadow: none;
    }

    input.search-field:focus,
    label input[type=search]:focus {
      background-color: $light;
      color: $dark;
    }

    input.search-submit,
    input.search-submit[type=submit] {
      display: flex;
      font-size: 1.1rem !important;
      height: 100%;
      background-color: darken($secondary, 7%);
      padding: 1em 0.97351em;
      text-transform: uppercase;
      font-weight: 300;
      color: $light;
      border-radius: 0;

      &:hover {
        background-color: $secondary;
      }
    }
  }
}

@media only screen and (max-width: $desktop) {
  footer.footer .widget.widget_search {
    width: 100%;

    form.search-form {
      width: 98%;

      input {
        font-size: 1.2rem !important;
      }
    }
  }
}

@media only screen and (max-width: $tablet) {
  footer.footer .widget.widget_search {
    width: 100%;

    form.search-form {
      width: 94%;

      input.search-field,
      label input[type=search],
      input.search-submit,
      input.search-submit[type=submit] {
        font-size: 0.8rem !important;
      }

      input.search-field,
      label input[type=search] {
        width: 100%;
      }

      input.search-submit,
      input.search-submit[type=submit] {
        padding: 1em 0.57351em;
      }
    }
  }
}
