$widget-bg: $light;

footer.footer {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  width: auto;
  height: 100%;
  padding: 0 !important;

  .widget {
    background-color: $widget-bg;
    padding: 0;
  }
}

@media only screen and (max-width: $tablet) {
  footer.footer {
    display: block;
  }
}

%widget-heading {
  font-size: 1.7rem;
  letter-spacing: 1px;
  background-color: $secondary;
  color: $light;
  border-radius: $radius;
}

// Footer widgets customization (CALENDAR)
@import "footer-widgets/_calendar.scss";
// Footer widgets customization (RECENT POSTS)
@import "footer-widgets/_recent-posts.scss";
// Footer widgets customization (RECENT COMMENTS)
@import "footer-widgets/_recent-comments.scss";
// Footer widgets customization (SEARCH)
@import "footer-widgets/_search.scss";
// Footer widgets customization (CATEGORIES)
@import "footer-widgets/_categories.scss";
// Footer widgets customization (NAV MENU)
@import "footer-widgets/_nav-menu.scss";
// Footer widgets customization (TAG CLOUD)
@import "footer-widgets/_tag-cloud.scss";
// Footer widgets customization (SIMPLE SOCIAL ICONS)
@import "footer-widgets/_simple-social-icons.scss";
