.footer-link {
  color: $footer-link-color;
}

footer {
  display: flex;
  flex-wrap: wrap;
}

footer .widget {
  display: flex;
  flex-basis: 25%;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 0.5em;

  h3 {
    color: $light;
    align-self: center;
  }
}

@media only screen and (max-width: $desktop) {
  footer .widget {
    flex-basis: 50%;
  }
}

@media only screen and (max-width: $tablet) {
  footer .widget {
    flex-basis: 100%;
  }
}

.content-info.footer a {
  @extend .footer-link;
}

.content-info.footer .container {
  @include flex-between();
}

// Footer widgets customization (CALENDAR)
@import "footer-widgets/_calendar.scss";
// Footer widgets customization (RECENT POSTS)
@import "footer-widgets/_recent-posts.scss";
// Footer widgets customization (RECENT COMMENTS)
@import "footer-widgets/_recent-comments.scss";
