.footer-link {
  color: $footer-link-color;
}

footer .brand {
  padding-top: 5em;

  a.logo {
    @include flex-it();

    opacity: 0.1;
    transition: ease 0.7s;
    -moz-transition: ease 0.7s;
    -webkit-transition: ease 0.7s;

    &:hover {
      background-color: $light;
      color: $primary;
      opacity: 1;
    }
  }
}

footer.footer .widget {
  margin: 1em 0;

  h3 {
    color: $light;
    align-self: center;
    text-align: center;
  }
}

.content-info.footer a {
  @extend .footer-link;
}

.content-info.footer .container {
  @include flex-between();
}

// Footer widgets customization (CALENDAR)
@import "footer-widgets/_calendar.scss";
// Footer widgets customization (RECENT POSTS)
@import "footer-widgets/_recent-posts.scss";
// Footer widgets customization (RECENT COMMENTS)
@import "footer-widgets/_recent-comments.scss";
// Footer widgets customization (SEARCH)
@import "footer-widgets/_search.scss";
// Footer widgets customization (CATEGORIES)
@import "footer-widgets/_categories.scss";
