header.banner .navbar.navigation,
.navigation {
  background-color: $navigation-bg;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 30px;
  max-height: 27px;
  height: 100%;
}

.nav-item {
  padding: 0;
  margin: 0;
}

header .featured {
  background-color: $secondary !important;
}

.nav-link {
  color: $navigation-color !important;
  display: block;
  padding: 0 1rem;
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  width: 100%;
  max-height: 100%;
  align-items: center;

  &:hover {
    color: $navigation-hover-color;
    background-color: $navigation-hover-bg;
  }
}

.nav {
  @extend .navigation;
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav li a {
  @extend .nav-link;
}

header .navbar.logo {
  display: flex;
  font-size: 7vw;
  justify-content: center;
  letter-spacing: 5px;
  align-items: center;
  font-family: $family-logo;
  padding: 3rem;

  a {
    &:hover {
      color: $green;
    }
  }
}
