$logo-size-fullhd: 7vw;
$logo-size-tablet: 2.9em;

.logo {
  font-family: $family-logo;
  font-size: $logo-size-fullhd;
}

// Header Logo Section
header.banner .brand {
  display: flex;
  justify-content: center;
  padding: 3vw;

  a {
    @extend .logo;
  }
}

// Header Navigator Section
header.banner nav.navigation {
  background-color: $navigation-bg;
  min-height: auto !important;

  div.menu-principal-container {
    @include flex-it();

    width: 100%;
    height: auto;

    ul {
      @include flex-it();

      background-color: transparent;
      align-items: center;

      li {
        background-color: transparent;
        height: 100%;

        a {
          @include flex-it();

          height: 100%;
          letter-spacing: 1px;
          color: $navigation-color;
          font-weight: 300;
          font-size: 1vw;
          padding: 0 3em;
          align-self: center;

          &:hover {
            background-color: $navigation-hover-bg;
            color: $light;
          }

          i {
            margin: 0 7px 0 0;
            line-height: inherit;
          }
        }
      }

      li.current-menu-item {
        a {
          background-color: $navigation-hover-bg;
          color: $navigation-color;

          i {
            color: $white;
            margin: 0;
          }

          span {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $desktop) {
  .logo {
    font-family: $family-logo;
    font-size: $logo-size-fullhd;
  }

  // Header Logo Section
  header.banner .brand {
    display: flex;
    justify-content: center;
    padding: 3vw;
  }

  // Header Navigator Section
  header.banner nav.navigation {
    background-color: $navigation-bg;
    min-height: auto !important;

    div.menu-principal-container {
      @include flex-it();

      width: 100%;
      height: auto;

      ul {
        @include flex-it();

        background-color: transparent;
        align-items: center;

        li {
          background-color: transparent;
          height: 100%;

          a {
            @include flex-it();

            height: 100%;
            letter-spacing: 1px;
            color: $navigation-color;
            font-weight: 300;
            font-size: inherit;
            padding: 0 1em;
            align-self: center;

            span {
              display: none;
            }

            i {
              margin: 0;
              font-size: 1.7em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $tablet) {
  .logo {
    font-family: $family-logo;
    font-size: $logo-size-tablet;
  }
}
