article#post-card {
  margin: 15px 0;

  a.post-link {
    border-radius: 3px;
    padding: 0.75rem 0.75rem 0 0.75rem;
    transition: ease 0.7513s;

    h3 {
      color: $dark;
      margin: 0 !important;
    }

    div.triangle-up {
      display: hidden;
      margin: 0 auto;
      padding: 5px 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 30px solid $light;
    }

    &:hover {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+3,b0532c+60&0.54+17,1+28,1+40 */
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.54) 3%, rgba(236, 213, 203, 0.54) 17%, rgba(221, 180, 162, 1) 28%, rgba(204, 144, 118, 1) 40%, rgba(176, 83, 44, 1) 60%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.54) 3%, rgba(236, 213, 203, 0.54) 17%, rgba(221, 180, 162, 1) 28%, rgba(204, 144, 118, 1) 40%, rgba(176, 83, 44, 1) 60%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.54) 3%, rgba(236, 213, 203, 0.54) 17%, rgba(221, 180, 162, 1) 28%, rgba(204, 144, 118, 1) 40%, rgba(176, 83, 44, 1) 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:dximagetransform.microsoft.gradient(startColorstr='#8affffff', endColorstr='#b0532c', GradientType=0); /* IE6-9 */

      h3 {
        color: $white;
      }

      div.triangle-up {
        display: inherit;
      }
    }
  }

  div.entry-summary {
    margin: 0 5px;
    padding: 1.7em;
    border-radius: 50px;

    h5 {
      color: $grey;
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: $tablet) {
  article#post-card {
    a.post-link {
      background-color: rgba($primary, 0.3);
      padding: 0.75rem 0.75rem 0 0.75rem;
      transition: ease 0.1753s;

      h3 {
        margin: 0 !important;
        color: $dark;
      }

      div.triangle-up {
        display: inherit;
        margin: 0 auto;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 30px solid $light;
      }
    }
  }
}
