article#post {
  .image {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }

  header.hero {
    text-align: right;

    h1 {
      letter-spacing: 3px;
      font-size: 3vw;
      font-weight: 300;
    }
  }

  #content-section {
    span {
      color: $light;

      h5 {
        letter-spacing: 1.7px;
        font-weight: bold;
        color: $light;
        margin: 0;
      }
    }
  }
}

@media only screen and (max-width: $tablet) {
  article#post {
    header.hero {
      h1 {
        font-size: 1.3em;
        line-height: 200%;
      }
    }

    #content-section {
      h5 {
        padding: 0 1em;
        color: $light;
        font-size: 0.9em;
      }
    }
  }
}
